.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(../images/header-img.jpg);
  background-position: center;
  background-size: cover;
  /* width: 1600px; */
  height: 600px;
  &-title {
    color: $white;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &-content {
    max-width: 696px;
  }
}
